<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.BizContractCollateralMapper">

  <resultMap id="bizContractCollateralMap" type="com.pig4cloud.pig.admin.api.entity.BizContractCollateral">
        <id property="id" column="id"/>
        <result property="contractId" column="contract_id"/>
        <result property="collateralId" column="collateral_id"/>
  </resultMap>
</mapper>
