<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pig.admin.mapper.SysPermissionMapper">
	<resultMap id="BaseResultMap" type="com.pig4cloud.pig.admin.api.entity.SysPermission">
		<id column="permission_id" property="permissionId"/>
		<result column="name" property="name"/>
		<result column="permission" property="permission"/>
		<result column="description" property="description"/>
		<result column="path" property="path"/>
		<result column="method" property="method"/>
		<result column="parent_id" property="parentId"/>
		<result column="sort_order" property="sortOrder"/>
		<result column="create_by" property="createBy"/>
		<result column="update_by" property="updateBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="is_del" property="isDel"/>
	</resultMap>

	<select id="listPermissionsByRoleId" resultMap="BaseResultMap">
		SELECT p.permission_id, p.name, p.permission, p.description, p.path, p.method,
			   p.parent_id, p.sort_order, p.create_by, p.update_by, p.create_time, p.update_time, p.is_del
		FROM sys_permission p
				 LEFT JOIN sys_role_permission rp ON p.permission_id = rp.permission_id
		WHERE p.is_del = 'NO'
		  AND rp.role_id = #{roleId}
		ORDER BY p.sort_order ASC
	</select>
</mapper>