<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pig.admin.mapper.SysUserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.pig4cloud.pig.admin.api.vo.UserVO">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="wx_openid" property="wxOpenid"/>
        <result column="qq_openid" property="qqOpenid"/>
        <result column="gitee_login" property="giteeOpenId"/>
        <result column="osc_id" property="oscOpenId"/>
        <result column="ucreate_time" property="createTime"/>
        <result column="uupdate_time" property="updateTime"/>
        <result column="lock_flag" property="lockFlag"/>
        <result column="is_del" property="isDel"/>

        <result column="nickname" property="nickname"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <collection property="roleList" ofType="com.pig4cloud.pig.admin.api.entity.SysRole"
                    select="com.pig4cloud.pig.admin.mapper.SysRoleMapper.listRolesByUserId" column="user_id">
        </collection>

    </resultMap>

    <sql id="userRoleSql">
        u.user_id,
        u.username,
		u.name,
		u.nickname,
		u.email,
        u.phone,
        u.avatar,
        u.lock_flag,
        u.create_by,
		u.`status`,
		u.certification_status,
		u.certification_info,
		u.lock_until,
        u.create_time  ucreate_time,
        u.update_time  uupdate_time,
        r.role_id,
        r.role_name,
        r.role_code,
        r.role_desc,
        r.create_time  rcreate_time,
        r.update_time  rupdate_time
    </sql>

    <sql id="userRoleDeptSql">
        u.user_id,
        u.username,
        u.password,
        u.salt,
        u.phone,
        u.avatar,
        u.wx_openid,
        u.qq_openid,
        u.gitee_login,
        u.osc_id,
        u.is_del,
        u.lock_flag,
        u.nickname,
        u.name,
        u.email,
        u.create_by,
        u.create_time  ucreate_time,
        u.update_time  uupdate_time
    </sql>
    <sql id="userVoSql">
        u.user_id,
        u.username,
		u.name,
		u.nickname,
		u.email,
        u.phone,
        u.avatar,
        u.lock_flag,
        u.create_by,
		u.`status`,
		u.certification_status,
		u.certification_info,
		u.lock_until,
        u.create_time  create_time,
        u.update_time  update_time
        
    </sql>

    <select id="getUserVoByUsername" resultType="com.pig4cloud.pig.admin.api.vo.UserVO">
        SELECT
        <include refid="userVoSql"/>
        FROM
        sys_user u        
        WHERE u.username = #{username} and u.is_del = 'NO'
    </select>

    <select id="getUserVoById" resultMap="baseResultMap">
        SELECT
        <include refid="userRoleDeptSql"/>
        FROM
        sys_user u

        WHERE
        u.user_id = #{id} and u.is_del = 'NO'
    </select>

<select id="getUserVosPage" resultType="com.pig4cloud.pig.admin.api.vo.UserVO">
    SELECT
        u.user_id,
        u.username,
        u.name,
        u.nickname,    
        u.email,
        u.phone, 
        u.avatar,
        u.lock_flag,
        u.lock_until,
        u.status,
        u.certification_status,
        u.certification_info,
        u.create_by,
        u.create_time,
        u.update_time
    FROM sys_user u
    <where>
        u.is_del = 'NO'
        <if test="query.username != null and query.username != ''">
            <bind name="usernameLike" value="'%'+query.username+'%'"/>
            AND u.username LIKE #{usernameLike}
        </if>
        <if test="query.phone != null and query.phone != ''">
            <bind name="phoneLike" value="'%'+query.phone+'%'"/>
            AND u.phone LIKE #{phoneLike}
        </if>
        <if test="query.email != null and query.email != ''">
            <bind name="emailLike" value="'%'+query.email+'%'"/>
            AND u.email LIKE #{emailLike}   <!-- 注意：此处原SQL有笔误，应为 u.email -->
        </if>
        <if test="query.lockFlag != null">
            AND u.lock_flag = #{query.lockFlag}
        </if>
        <if test="query.status != null">
            AND u.status = #{query.status}
        </if>
        <if test="query.certificationStatus != null">
            AND u.certification_status = #{query.certificationStatus}
        </if>
        <if test="query.createTimeStart != null">
            AND u.create_time >= #{query.createTimeStart}
        </if>
        <if test="query.createTimeEnd != null">
            AND u.create_time <![CDATA[ <= ]]> #{query.createTimeEnd}
        </if>
    </where>
    <if test="_databaseId != 'mssql'">
        ORDER BY u.create_time DESC
    </if>
</select>

    <select id="selectVoList" resultMap="baseResultMap">
        SELECT
        u.user_id,
        u.username,
        u.password,
        u.salt,
        u.phone,
        u.avatar,
        u.wx_openid,
        u.qq_openid,
        u.create_by,
        u.create_time ucreate_time,
        u.update_time uupdate_time,
        u.is_del,
        u.lock_flag,
        u.nickname,
        u.name,
        u.email
        FROM
        sys_user u
        <where>
            u.is_del = 'NO'
            <if test="query.username != null and query.username != ''">
                <bind name="usernameLike" value="'%'+query.username+'%'"/>
                AND u.username LIKE #{usernameLike}
            </if>
        </where>

        <if test="_databaseId != 'mssql'">
            ORDER BY u.create_time DESC
        </if>
    </select>
    <select id="selectGrantRoles" resultType="com.pig4cloud.pig.admin.api.entity.SysRole">
        SELECT
            r.role_id,
            r.role_code,
            r.role_name
        FROM
            sys_user_role ur
            INNER JOIN sys_role r ON ur.role_id = r.role_id 
        WHERE
            r.is_del = 'NO'
            AND ur.user_id = #{userId}
    </select>
</mapper>
