<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.SysUserKycMapper">

  <resultMap id="sysUserKycMap" type="com.pig4cloud.pig.admin.api.entity.SysUserKyc">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="realName" column="real_name"/>
        <result property="country" column="country"/>
        <result property="city" column="city"/>
        <result property="address" column="address"/>
        <result property="agreementRealEstate" column="agreement_real_estate"/>
        <result property="idNumber" column="id_number"/>
        <result property="idType" column="id_type"/>
        <result property="idImageFront" column="id_image_front"/>
        <result property="idImageBack" column="id_image_back"/>
        <result property="idImageHand" column="id_image_hand"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
  </resultMap>
</mapper>
