######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml

# 忽略所有日志文件
*.log
*.log.*
*.log.gz

# 忽略 logs 文件夹下所有内容
logs/

# IntelliJ IDEA
.idea/
*.iml
out/

# Maven / Gradle 构建输出
target/
build/

# 日志文件
logs/
*.log
*.log.*
*.log.gz

# 系统文件
.DS_Store
Thumbs.db

