<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.guaranty.mapper.BizWareHouseMapper">

  <resultMap id="bizWareHouseMap" type="com.pig4cloud.pig.guaranty.api.entity.BizWareHouse">
        <id property="id" column="id"/>
        <result property="collateralTypeId" column="collateral_type_id"/>
        <result property="valueOfCollateral" column="value_of_collateral"/>
        <result property="quality" column="quality"/>
        <result property="status" column="status"/>
        <result property="isDel" column="is_del"/>
        <result property="operatorId" column="operator_id"/>
        <result property="userName" column="user_name"/>
        <result column="parameters" property="parameters"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateUserName" column="update_user_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
  </resultMap>

      <select id="getPage" resultType="com.pig4cloud.pig.guaranty.api.entity.BizWareHouse">
            SELECT
            u.id,
            u.collateral_type_id,
            u.value_of_collateral,
            u.quality,
            u.status,
            u.is_del,
            u.operator_id,
            u.user_name,
            u.create_time,
            u.update_time,
            u.parameters,
            u.update_user_id,
            u.update_user_name,
            d.collateral_type_value as collateralTypeValue,
            d.collateral_type as collateralType
            FROM
            biz_ware_house u
            LEFT JOIN dic_collateral_type d ON u.collateral_type_id = d.id
            <where>
                  <if test="query.collateralType != null and query.collateralType != ''">
                        AND d.collateral_type like concat('%', #{query.collateralType}, '%')
                  </if>
                  <if test="query.collateralTypeValue != null and query.collateralTypeValue != ''">
                        AND d.collateral_type_value like concat('%', #{query.collateralTypeValue}, '%')
                  </if>
                  <if test="query.userName != null and query.userName != ''">
                        AND u.user_name like concat('%', #{query.userName}, '%')
                  </if>
                  <if test="query.status != null">
                        AND u.status = #{query.status}
                  </if>
            </where>

            <if test="_databaseId != 'mssql'">
                  ORDER BY u.create_time DESC
            </if>
      </select>

      <select id="getOneById" resultType="com.pig4cloud.pig.guaranty.api.entity.BizWareHouse">
            SELECT
            u.id,
            u.collateral_type_id,
            u.value_of_collateral,
            u.quality,
            u.status,
            u.is_del,
            u.operator_id,
            u.user_name,
            u.create_time,
            u.update_time,
            u.parameters,
            u.update_user_id,
            u.update_user_name,
            d.collateral_type_value as collateralTypeValue,
            d.collateral_type as collateralType
            FROM
            biz_ware_house u
            LEFT JOIN dic_collateral_type d ON u.collateral_type_id = d.id
            <where>
                  <if test="id != null">
                        AND u.id = #{id}
                  </if>
            </where>
      </select>

      <select id="getListByIds" resultMap="bizWareHouseMap">
            SELECT
            u.id,
            u.collateral_type_id,
            u.value_of_collateral,
            u.quality,
            u.status,
            u.is_del,
            u.operator_id,
            u.user_name,
            u.create_time,
            u.update_time,
            u.parameters as parameters,
            u.update_user_id,
            u.update_user_name,
            d.collateral_type_value as collateralTypeValue,
            d.collateral_type as collateralType
            FROM
            biz_ware_house u
            LEFT JOIN dic_collateral_type d ON u.collateral_type_id = d.id
            <where>
                  <if test="ids !=null and ids.size() != 0 ">
                        and u.id in
                        <foreach collection="ids" item="id" open="(" close=")" separator=",">
                              #{id}
                        </foreach>
                  </if>
            </where>
      </select>
</mapper>
