<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.guaranty.mapper.DicCollateralTypeMapper">

  <resultMap id="dicCollateralTypeMap" type="com.pig4cloud.pig.guaranty.api.entity.DicCollateralType">
        <id property="id" column="id"/>
        <result property="collateralType" column="collateral_type"/>
        <result property="collateralTypeValue" column="collateral_type_value"/>
        <result property="sn" column="sn"/>
        <result property="isDel" column="is_del"/>
        <result property="isEnable" column="is_enable"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
  </resultMap>
</mapper>
